<!DOCTYPE html>
<html>
    <head>
        <title>Excel Parser</title>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="/js/jquery.js"></script>
        <!-- add the shim first -->
        <script type="text/javascript" src="/js/shim.min.js"></script>
        <!-- after the shim is referenced, add the library -->
        <script type="text/javascript" src="/js/xlsx.full.min.js"></script>

        <!-- <script src="/js/xls.js"></script> -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/css/custom.css" type="text/css" />
        <!-- <script src="/js/index.js"></script> -->
    </head>
    <body>
        <div id="root"></div>
        <div id="test"></div>
        <script type="text/babel" src="/index.js"></script>
        <!-- <script src="/js/index.js" type="text/babel"></script> -->
    </body>
</html>